<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">{{ section.title }}</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">{{ section.text }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for action in section.actions %}
      {% assign fa = action.icon_type | default: "fas" %}
      <div class="col ml-auto text-center">
        <i class="{{ fa }} {{ action.icon }} fa-3x mb-3 text-muted"></i>
        {% if action.url != nil %}
          <a class="d-block" href="{{ action.url }}">{{ action.title }}</a>
        {% else %}
          <p>{{ action.title }}</p>
          <p>{{ action.address.name }}</p>
          <p>{{ action.address.street }}</p>
          <p>{{ action.address.provice_postal_code }}</p>
          {% if action.address.extra != nil %}
          <p>{{ action.address.extra }}</p>
        {% endif %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
